body{
    background: #c3c3c3;
}


#conteudo-principal{
    background-color:rgb(180, 59, 225);
    height: 60px;   
    display:-webkit-box;   
    display:-ms-flexbox;   
    display:flex;
}
#conteudo1{
    background-color:rgb(158, 9, 158);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    height: 60px;   
    -webkit-box-orient: horizontal;   
    -webkit-box-direction: normal;   
    -ms-flex-direction: row;   
            flex-direction: row;
  
   
}
#conteudo2{
    background-color:rgb(39, 9, 158);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    height: 60px;   
    -webkit-box-orient: horizontal;   
    -webkit-box-direction: reverse;   
    -ms-flex-direction: row-reverse;   
            flex-direction: row-reverse;
    position: absolute;
    right: 8px;
    top: 80px;
   
}
.item{
    width: 40px;
    height: 40px;
    margin: 10px;    
    background-color: aliceblue;
    border: 1px solid black;  
}